*{
    margin: 0;
    padding: 0;
}

/* Not working on checkbox */
.blackoverlay{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    opacity: 0;
    transition: all 0.4s ease;
}

/* Amupedia text in the center of the page */
.center_text{
    text-align: center;
    width: 50%;
    margin: auto 2vw;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: black;
    position: absolute;
    display: block;
    top: 40vw;
    left: 25vw;
    color: white;
}

/* style for logo  */
.logo{
    position: absolute;
    width: 20%;
    float: left;
    top: 2vh;
    left: 1.5vh;
}

/* navigation bar style for mobile phone */
.navbar ul{
    opacity: 80%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 40%;
    top: 100px;
    right: -500px;
    list-style: none;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.5s cubic-bezier(0, 1.21, 1, 0.97);
    z-index: 21;
}

/* targeting list items of navigation bar  */
.navbar ul li{
    display: inline-block;
    background-color: transparent;
    text-align: center;
    border: none;
    margin: 5px;
    margin: 5px auto;

    z-index: 21;
    border-radius: 10px;
    width: 95%;
    float: right;
    padding: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

/* nav bar links  */
.navbar ul li a{
    font-size: 17px;
    text-decoration: none;
    color: black;
    list-style: none;
}

/* checkbox for hamburger menu  */
#menu{
    position: absolute;
    opacity: 0;
    z-index: 20;
    top: 10px;
    right: 20px;
    width: 60px;
    height: 60px;
}

/* hamburger menu style  */
.ham{
    justify-content: center;
    z-index: 21;
    position: absolute;
    top: 5.5vw;
    right: 20px;
    width: 10%;
    height: 10%;
    background-color: transparent;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.5s ease;
}


/* styling of lines present in hamburger menu */
.ham div{
    position: absolute;
    left: 12px;
    width: 60%;
    margin: auto;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    color: white;
    transition: all 0.5s ease;
}

/* style for each line of hamburger menu */
#ham_line_1{
    transition: all 0.4s ease;
}

/* targeting each line uniquely */
#ham_line_2{
    top: 23px;
    transition: all 0.5s ease;
}

/* line 3 */
#ham_line_3{
    top: 37px;
    transition: all 0.4s ease;
}

/* changes when checkbox is checked  */
#menu:checked ~ .navbar ul{
    right: 0px;
}


/* style for background on top  */
.headerbg{
    width: 100%;
    height: 500px;
    z-index: inherit;
}

/* style for wave pattern  */
.pattern{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 430px;
}

/* animation after clicking the hamburger icon  */
#menu:checked ~ .ham > #ham_line_1{
    transform: rotate(135deg);
    top: 23px;
}

#menu:checked ~ .ham > #ham_line_3{
    transform: rotate(-135deg);
    top: 23px;
}

#menu:checked ~ .ham > #ham_line_2{
    transform: rotate(135deg);
}

/* appearance for the overlay in the background when 
navigation menu opens in mobile phones */
#menu:checked ~ .blackoverlay{
    opacity: 0.4;
}
