*{
    margin: 0;
    padding: 0;
}
.navbar ul{
    background-color: transparent;
    position: fixed;
    width: 40%;
    top: 100px;
    right: -200px;
    list-style: none;
    transition: 0.5s cubic-bezier(0, 0.82, 0.23, 1.61);
    z-index: 20;
}
.navbar ul li{
    background-color: rgb(0, 1, 0);
    text-align: center;
    border: none;
    margin: 5px 0px;
    border-radius: 10px;
    width: 80%;
    float: right;
    margin-right: 10px;
    padding: 3px 0px;
    cursor: pointer;
}
.navbar ul li a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    list-style: none;
}
#menu{
    display: none;
}
.menustyle{
    position: absolute;
    top: 3vh;
    float: right;
    right: 2.7vh;
    font-size: 34px;
    color: black;
    z-index: 20;
}
#menu:checked ~ .navbar ul{
    right: 10px;
}
.logo{
    position: absolute;
    width: 20%;
    float: left;
    top: 2vh;
    left: 1.5vh;
}
.headerbg{
    width: 100%;
    height: 500px;
    z-index: inherit;-1
}
.pattern{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 420px;
}